Firestore.rules:
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
	// Allow read and write access to all documents if the request time is before June 16, 2023
	match /{document=**} {
  	allow read, write: if request.time < timestamp.date(2023, 6, 16);
	}
    
	// Allow read access to chat messages if the user is authenticated
	match /chats/{messageId} {
  	allow read: if request.auth != null;
	}
  }
}